### By: Mowafak Allaham
In this notebook I'm interested in answering the following questions:

- Where are the artworks displayed at the MET are coming from?
- Which artists is the MET interested in?
- Which department hosts the largest number of artworks?
###### note: all pie charts are interactive!

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../input/MetObjects.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448203 entries, 0 to 448202
Data columns (total 43 columns):
﻿Object Number             448203 non-null object
Is Highlight               448203 non-null bool
Is Public Domain           448203 non-null bool
Object ID                  448203 non-null int64
Department                 448203 non-null object
Object Name                445568 non-null object
Title                      416906 non-null object
Culture                    186518 non-null object
Period                     71882 non-null object
Dynasty                    23018 non-null object
Reign                      10817 non-null object
Portfolio                  20370 non-null object
Artist Role                259909 non-null object
Artist Prefix              88928 non-null object
Artist Display Name        261111 non-null object
Artist Display Bio         224064 non-null object
Artist Suffix              10212 non-null object
Artist Alpha Sort          261088 non-null object
Artist Nationality         196132 non-null object
Artist Begin Date          215234 non-null object
Artist End Date            212825 non-null object
Object Date                432609 non-null object
Object Begin Date          448203 non-null int64
Object End Date            448203 non-null int64
Medium                     440155 non-null object
Dimensions                 385360 non-null object
Credit Line                447533 non-null object
Geography Type             58463 non-null object
City                       30520 non-null object
State                      8360 non-null object
County                     2488 non-null object
Country                    74450 non-null object
Region                     31078 non-null object
Subregion                  21716 non-null object
Locale                     15095 non-null object
Locus                      6939 non-null object
Excavation                 15519 non-null object
River                      2103 non-null object
Classification             389924 non-null object
Rights and Reproduction    22975 non-null object
Link Resource              448203 non-null object
Metadata Date              448203 non-null object
Repository                 448203 non-null object
dtypes: bool(2), int64(3), object(38)
memory usage: 141.1+ MB

# Where are the artworks are coming from?

In [4]:
sCountry = pd.DataFrame(data['Country'].value_counts())
sCountry.columns = ['Count']
sCountry['Country'] = sCountry.index.tolist()
sCountry.sort_values(by="Count",ascending=False)
sCountry = sCountry.reset_index(drop=True)
sCountry

      Count                                           Country
0     30914                                             Egypt
1      8501                                     United States
2      5886                                              Iran
3      3422                                              Peru
4      1673                                   Byzantine Egypt
5      1670                                            France
6      1537                                            Mexico
7      1440                                             India
8      1394                                         Indonesia
9      1059                                           England
10      918                                             China
11      888                                           Germany
12      851                                  Papua New Guinea
13      826                                            Turkey
14      637                                           Nigeria
15      523                                             Italy
16      519                  Democratic Republic of the Congo
17      480                                             Syria
18      441                                             Spain
19      397                                              Iraq
20      391                                            Canada
21      353                                              Mali
22      336                                          Colombia
23      302                                     Côte d'Ivoire
24      300                                    Egypt or Syria
25      278                                           America
26      250                                          Cameroon
27      238                                             Japan
28      221                                         Iran|Iran
29      220                       United States|United States
...     ...                                               ...
1005      1  Jordan, excavated Church on the Acropolis, Ma'in
1006      1            Central or Southern India or Sri Lanka
1007      1                                      France?/USA?
1008      1                               Bulgaria (possibly)
1009      1                             North India or Deccan
1010      1                     the Iberian peninsula (Spain)
1011      1                                    China or Japan
1012      1                            possibly Iran or Egypt
1013      1                               United States|Italy
1014      1                               India|United States
1015      1                                          Italian?
1016      1             India|present-day Afghanistan or Iran
1017      1                             Indonesia or Malaysia
1018      1                                             Amman
1019      1                        Central India or Sri Lanka
1020      1                               probably China|Iraq
1021      1                             Burkina Faso or Ghana
1022      1                             Ireland|United States
1023      1          Egypt, Memphite Region, Saqqara probably
1024      1                                      Turkey|India
1025      1                                     Chile or Peru
1026      1                              probably Afghanistan
1027      1                                  Probably Germany
1028      1                                possibly Guatemala
1029      1                           Probably northern Syria
1030      1                                     Probably Gaul
1031      1                          Germany or South Germany
1032      1                               West Central Turkey
1033      1                                           Norway?
1034      1                                            Burma?

[1035 rows x 2 columns]

###### Choosing the countries that contributed with at least 100 pieces

In [5]:
#The following two lines are important to use plotly offline
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

In [6]:
plt.figure(figsize=(80,80))
temp = sCountry[sCountry['Count']>=100]
init_notebook_mode(connected=True)
labels=temp['Country']
values=temp['Count']
trace=go.Pie(labels=labels,values=values)

iplot([trace])

### Where the artworks are coming from? 
From this pie chart, it looks like that almost 45% of the artworks at the MET are coming from Egypt, the U.S and Iran.

In [7]:
data.keys()

Index(['﻿Object Number', 'Is Highlight', 'Is Public Domain', 'Object ID',
       'Department', 'Object Name', 'Title', 'Culture', 'Period', 'Dynasty',
       'Reign', 'Portfolio', 'Artist Role', 'Artist Prefix',
       'Artist Display Name', 'Artist Display Bio', 'Artist Suffix',
       'Artist Alpha Sort', 'Artist Nationality', 'Artist Begin Date',
       'Artist End Date', 'Object Date', 'Object Begin Date',
       'Object End Date', 'Medium', 'Dimensions', 'Credit Line',
       'Geography Type', 'City', 'State', 'County', 'Country', 'Region',
       'Subregion', 'Locale', 'Locus', 'Excavation', 'River', 'Classification',
       'Rights and Reproduction', 'Link Resource', 'Metadata Date',
       'Repository'],
      dtype='object')

# Which artists is the MET interested in?

In [8]:
sArtist = pd.DataFrame(data['Artist Display Name'].value_counts())
sArtist.columns=['Count']
sArtist['Name'] = sArtist.index.tolist()
sArtist.sort_values(by="Count",ascending=False)
sArtist = sArtist.reset_index(drop=True)
sArtist.head(5)

   Count                 Name
0   9659         Walker Evans
1   4282      Kinney Brothers
2   3184       Allen & Ginter
3   3148  W. Duke, Sons & Co.
4   2747    Goodwin & Company

### Visualizing artists with at least 1000 art pieces

In [9]:
plt.figure(figsize=(80,80))
temp = sArtist[sArtist['Count']>=1000]
init_notebook_mode(connected=True)
labels=temp['Name']
values=temp['Count']
trace=go.Pie(labels=labels,values=values)

iplot([trace])

### Which artists is the MET interested in?
Artwrorks by Walker Evans seem to dominate a good porition of the display space at the MET, followed by Kinney Brothers and Allen & Ginter.

# Which department hosts the largest number of artworks?

In [10]:
sDpt = pd.DataFrame(data['Department'].value_counts())
sDpt.columns=['Count']
sDpt['Name'] = sDpt.index.tolist()
sDpt.sort_values(by="Count",ascending=False)
sDpt = sDpt.reset_index(drop=True)
sDpt.head(5)

    Count                                    Name
0  154445                     Drawings and Prints
1   42528  European Sculpture and Decorative Arts
2   36727                               Asian Art
3   36258                             Photographs
4   33681                       Costume Institute

In [11]:
plt.figure(figsize=(80,80))
temp = sDpt[sDpt['Count']>=1000]
init_notebook_mode(connected=True)
labels=temp['Name']
values=temp['Count']
trace=go.Pie(labels=labels,values=values)

iplot([trace])

### Which department hosts the largest number of artworks?
It looks like "Drawings and prints" department holds roughly 35% of the artworks presented at the MET.